$color_main : #000;
$color_white : white;
$font_Exo : 'Exo 2', sans-serif;
$font_Mont : 'Montserrat', sans-serif;
$success : #00c300;
$error : #ff6633;

.font_Exo {
  font-family: $font_Exo;
}
.font_Mont {
  font-family: $font_Mont;
}
